body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
  }
  